@import '/src/styles/colors.scss';

$wrapper-left-size: 25%;

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #0a6971;
  background-image: url(https://th.bing.com/th/id/OIG.CtbaIaNdet39XnxVYk4N?pid=ImgGn);
  overflow: unset;

  .wrapper-left {
    margin: 24px;
    width: $wrapper-left-size;

    .header-left {
      width: 100%;
      margin-top: 24px;
      .title-left {
        color: #fff;
        font-weight: 700;
        font-size: 32px;
      }
    }
  }
  .wrapper-manage-send-request {
    width: calc(100% - $wrapper-left-size);
    height: 100%;
    background-color: #f3f3f3;
    .wrapper-send-request {
      padding: 8px 24px;
      width: 100%;
      height: 100%;
      background-color: #fff;

      .header-manage-send-request {
        margin: 1.5rem 0;
        p {
          font-size: 32px;
          font-weight: 600;
          color: $text_700;
        }
      }

      .container-manage-send-request {
      }

      .footer-manage-send-request {
      }
    }
  }
}

.iconLock {
  margin-left: 12px;
}
