.container {
    background: #ffffff;
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    .table__header {
        &_wrap {
            width: 100%;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;

            &_thead {
                height: 50px;
                background-color: #e3e7f2;
            }
        }
    }

    .table__body {
        overflow-y: auto;
        &_wrap {
            width: 100%;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            &_row {
                height: 50px;

                &:nth-child(odd) {
                    background-color: #f6f7f9;
                }
            }
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        padding: 0 20px;

        &_search {
            display: flex;
            align-items: center;
            width: 190px;
            height: 37px;
            border-radius: 20px;
            border: 1px solid #b9b3b3;
            padding: 1rem;
            margin-top: 1rem;

            .ic {
                font-size: 1.5rem;
                margin-right: 7px;
                color: #8a8787;
            }

            .text_input {
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
            }
        }
    }
}

