@import '/src/styles/colors.scss';

.main_container {
  width: 100%;
  height: calc(100vh - 6rem);
}

.map_container {
  width: 100%;
  height: 100%;
  background-color: rgb(171, 238, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter {
  position: absolute;
  bottom: 2rem;
  right: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__ic {
    font-size: 3rem;
    color: $text_500;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.2s;

    &:not(&--active):hover {
      opacity: 0.8;
    }

    &--active {
      color: #109fac;
    }
  }
}

.search {
  position: absolute;
  top: 7.5rem;
  left: 1.5rem;
  width: 35rem;
  box-shadow: 1px 1px 8px 1px rgba(black, 0.2);
  border-radius: 100rem;
  z-index: 2;
}
