@import '/src/styles/colors.scss';

.main_container {
  width: 100%;
  height: calc(100vh - 6rem);
}

.map_container {
  width: 100%;
  height: 100%;
  background-color: rgb(171, 238, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter {
  position: absolute;
  bottom: 2rem;
  right: 2.5rem;

  &__ic {
    font-size: 3rem;
    color: $text_500;
    cursor: pointer;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.8;
    }
  }
}
