@import './../../utils/color.module.scss';


.container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 1rem 0;
    &-title {
        h3 {
            color: $primary_600;
            font-size: x-large;
        }        
    }
}
