@import '/src/styles/colors.scss';

.container {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  user-select: none;
  -webkit-user-select: none;
}

.image {
  width: fit-content;
  height: fit-content;
  max-width: 90%;
  max-height: 90vh;
  border-radius: 10px;
}

.ic {
  font-size: 2rem;
  color: rgba($color: white, $alpha: 0.5);
  position: relative;
  height: fit-content;
  width: fit-content;
  right: 3rem;
  top: 1.25rem;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    color: rgba($color: white, $alpha: 0.8);
  }
}
