.adding__overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;

    .adding__modal {
        display: block;
        width: 500px;
        height: max-content;
        border-radius: 10px;
        background-color: white;
        position: relative;

        &__heading {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 40px;
            margin-top: 10px;
            font-size: 16px;
            font-weight: 700;
            background: white;
            border-radius: 10px 10px 0px 0px;
            color: #0a6971;

            .adding__modal-ic {
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translate(-50%, -50%);
                color: black;
                font-size: 20px;
                cursor: pointer;

                &:hover {
                    opacity: 0.9;
                }
            }
        }

        &__body {
            width: 100%;
            height: max-content;
            padding: 0 20px;
            padding-bottom: 20px;

            h4 {
                font-size: 14px;
                font-weight: 700;
                margin-top: 20px;
                margin-bottom: 10px;
            }

            input {
                width: 100%;
                height: 45px;
                border-radius: 6px;
                border: 2px solid #9e9e9e;
                padding: 8px 12px;
                font-size: 14px;
                font-weight: 400;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
                    'Open Sans', 'Helvetica Neue', sans-serif;
            }

            .custom-file-input {
                color: transparent;
                border: none;
                padding: 0;
                background-color: rebeccapurple;
            }

            select {
                width: 100%;
                height: 45px;
                border-radius: 6px;
                border: 2px solid #9e9e9e;
                padding: 8px 10px;
                font-size: 14px;
                font-weight: 400;
                outline: none;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
                    'Open Sans', 'Helvetica Neue', sans-serif;
            }

            textarea {
                width: 100%;
                height: 140px;
                border-radius: 6px;
                border: 2px solid #9e9e9e;
                padding: 8px 10px;
                font-size: 14px;
                font-weight: 400;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
                    'Open Sans', 'Helvetica Neue', sans-serif;
            }

            .upload {
                display: flex;
                padding: 4rem 2rem;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: 1px dashed #ccc;
                border-radius: 6px;
                cursor: pointer;

                p {
                    margin-top: 1rem;
                }
            }

            .uploaded {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #eeeeee;
                border-radius: 6px;
                padding: 0.2rem 1.4rem;
                margin-bottom: 1rem;

                .uploaded__content {
                    display: flex;
                    align-items: center;

                    img {
                        width: 50px;
                        height: 50px;
                        object-fit: contain;
                    }

                    p {
                        margin-left: 1rem;
                        font-size: 13px;
                    }
                }

                .icon {
                    background-color: #ccc;
                    padding: 0.6rem 0.8rem;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }

            .reselect {
                display: inline-block;
                max-width: fit-content;
                font-size: 12px;
                padding: 0.8rem 2rem;
                border: none;
                border-radius: 2rem;
                background-color: #0a6971;
                color: #fff;
                cursor: pointer;
            }

            .remove {
                display: inline-block;
                max-width: fit-content;
                font-size: 12px;
                padding: 0.8rem 2rem;
                border: none;
                border-radius: 2rem;
                background-color: #d61515;
                color: #fff;
                cursor: pointer;
                margin-left: 1rem;
            }

            .adding__modal-upload {
                width: 100%;
                height: 140px;
                border: 0.25px solid black;
                border-style: dashed;
                border-radius: 6px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                cursor: pointer;

                .adding__modal-upload-ic {
                    font-size: 2.5rem;
                    color: #9e9e9e;
                }

                span {
                    margin-top: 5px;
                    font-size: 14px;
                    color: #9e9e9e;
                }
            }

            .adding__img-list {
                overflow-y: auto;
                width: 100%;
                height: max-content;
                scroll-behavior: smooth;

                &::-webkit-scrollbar {
                    width: 5px;
                }

                &::-webkit-scrollbar-track {
                    border-radius: 8px;
                    background-color: #e7e7e7;
                    border: 1px solid #cacaca;
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 8px;
                    background-color: #707070;
                }
            }

            .adding__item-ctn {
                width: 100%;
                height: 40px;
                background-color: #f8f5f5;
                border-radius: 4px;
                display: flex;
                align-items: center;
                padding: 5px 14px;
                padding-right: 20px;
                position: relative;

                img {
                    height: 100%;
                    width: auto;
                    margin-right: 8px;
                }

                span {
                    font-size: 1.4rem;
                    font-weight: 500;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                }

                button {
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    background-color: #d9d9d9;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;

                    .adding__item-ic {
                        color: black;
                        font-size: 10px;
                    }
                }
            }

            .adding__item-button {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-top: 8px;

                button {
                    width: 120px;
                    height: 30px;
                    box-shadow: 0px 4px 5px 0px rgba(48, 79, 254, 0.2), 0px 3px 14px 0px rgba(48, 79, 254, 0.12),
                        0px 8px 10px 0px rgba(48, 79, 254, 0.14);
                    color: white;
                    border: none;
                    background-color: rgba(0, 210, 255, 1);
                    border-radius: 5px;
                }
            }
        }

        &__buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            button {
                padding: 8px 15px;
                min-width: 120px;
                font-size: 1.6rem;
                font-weight: 600;
                border-radius: 50px;

                &:hover {
                    opacity: 0.9;
                }

                &:nth-child(1) {
                    margin-right: 20px;
                    border: 1px solid #0a6971;
                    background-color: white;
                }

                &:nth-child(2) {
                    color: white;
                    border: none;
                    background-color: #0a6971;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                }
            }
        }

        &__line {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 25px 0;

            .modal__line-item {
                width: 4rem;
                height: 4px;
                background-color: #d9d9d9;
                margin: 0 10px;
            }
        }

        .loading__overlay {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
        }
    }
}
