@import '/src/styles/colors.scss';

$size: 2.2rem;

.main_container {
    width: max-content;
    position: absolute;
    bottom: 50px;
    right: 0;
    background-color: white;
    box-shadow: 2px 2px 8px 3px rgba(black, 0.2);
    border: 1px solid $text_300;
    border-radius: 10px;
    padding: 2rem 3rem;
    cursor: auto;
}

.main_container::before {
    transform: rotate(180deg);
    content: '';
    position: absolute;
    bottom: -18px;
    right: 10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
}

.title {
    font-size: 1.75rem;
    font-weight: bold;
    color: $text_800;
    margin-bottom: 1rem;
}

.divider {
    width: 100%;
    height: 0.5px;
    background-color: $text_300;
    margin: 1.5rem 0;
}

.colors {
    .item {
        display: flex;
        align-items: center;
        margin: 1.5rem 0;

        &__ic {
            width: $size;
            height: $size;
            border-radius: 100rem;
        }

        &__text {
            margin-left: 1rem;
            font-size: 1.5rem;
            color: $text_700;
        }
    }
}

.symbols {
    .item {
        display: flex;
        align-items: center;
        margin: 1.5rem 0;

        &__ic {
            width: $size;
            height: $size;
            border-radius: 100rem;
            border: 2px solid $text_600;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            color: $text_700;
        }

        &__text {
            margin-left: 1rem;
            font-size: 1.5rem;
            color: $text_700;
        }
    }
}
