.dashboard {
    height: 100%;
    &__container {
        display: flex;

        &--table {
            // background-color: yellow;

            flex: 1;
            margin: 16px 30px;
        }
    }
}

