.dashboard {
    height: 100%;
    background: #f6f7fb;

    &__container {
        display: flex;
        &--table {
            // background-color: yellow;

            flex: 1;
            margin: 16px 30px;
        }
    }
}

