@import '/src/styles/colors.scss';

$border_radius: 10px;

.main_container {
  width: fit-content;
  height: fit-content;
  background-color: white;
  border-radius: $border_radius;
}

.header {
  width: 100%;
  height: 5rem;
  background-color: $primary_300;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(240, 240, 240);
  user-select: none;
  border-radius: $border_radius $border_radius 0 0;

  &__closeIc {
    cursor: pointer;
    transition: opacity 0.2s;
    font-size: 2.5rem;

    &:hover {
      opacity: 0.5;
    }
  }
}

.content {
  width: 100%;
  padding: 2rem 2rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.textField {
  width: 100%;
  margin-top: 2rem;
  z-index: 0;
}

.btn_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.checkbox_container {
  display: flex;
  justify-content: right;
  width: 100%;
  margin-top: 1rem;

  .checkbox {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;

    .checkbox__ic {
      font-size: 2rem;
      padding: 0;
    }

    .checkbox__label {
      font-size: 1.55rem;
      color: $text_700;
      margin-left: 5px;
    }
  }
}
