$primaryColor: #3498db;
$fontColor: #333;

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row,
.sixth-row,
.seventh-row,
.form-row {
  margin-bottom: 12px;
}

.first-row {
  display: flex;
  justify-content: space-between;

  .title-input {
    width: calc(48% - 10px); // Điều chỉnh chiều rộng và khoảng cách giữa các ô input
    box-sizing: border-box; // Đảm bảo chiều rộng bao gồm cả padding và border
  }
}

.title-input {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #bdc3c7;

  input,
  select,
  textarea {
    width: 100%;
    height: 48px; // Điều chỉnh chiều cao mặc định
    margin-top: 12px;
    font-size: 16px;
    padding: 8px;
    border: 1px solid #767c80;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: #000;
    }
  }
  .error {
    margin-top: 6px;
    color: red;
  }

  select {
    // Tùy chỉnh kiểu đầu xuống cho thẻ select
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg fill="#bdc3c7" height="24" width="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>')
      no-repeat right 8px center/18px 18px;
    padding-right: 30px; // Đảm bảo biểu tượng đầu xuống có đủ chỗ
    cursor: pointer;
  }

  textarea {
    // Tùy chỉnh kiểu đầu xuống cho thẻ textarea
    resize: vertical; // Cho phép người dùng thay đổi kích thước theo chiều dọc
    min-height: 150px; // Điều chỉnh chiều cao tối thiểu
  }
}

.custom-button {
  background-color: #95e1d3; /* Màu nền xanh lá cây */
  color: white; /* Màu chữ trắng */
  padding: 16px 48px; /* Kích thước padding */
  font-size: 18px; /* Kích thước chữ */
  cursor: pointer; /* Chuyển đổi con trỏ khi di chuột vào nút */
  border: none; /* Không có đường viền */
  border-radius: 4px; /* Góc bo tròn */
  font-weight: 700;
  width: 100%;
  margin-bottom: 12px;

  &:hover {
    opacity: 0.7;
  }
  &:disabled {
    background-color: #cccccc; /* Màu nền xám cho nút bị vô hiệu hóa */
    cursor: not-allowed; /* Con trỏ không cho sự kiện không hoạt động */
  }
}

