.container__home {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: white;

    &-map {
        z-index: 0;

        .geo {
            display: flex;
            justify-content: space-between;
            width: 100vw;
            height: 100vh;

            &__map {
                flex: 1;

                .info {
                    max-width: 28rem;

                    &__title {
                        font-size: 16px;
                        font-weight: 500;
                        margin-bottom: 0.6rem;
                    }

                    &__type,
                    &__location {
                        font-size: 16px;
                        margin-bottom: 0.6rem;
                    }
                    div {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 1rem;

                        .info__state {
                            font-size: 16px;
                            font-style: italic;
                            font-weight: 600;
                            color: #0a6971;
                            margin-right: 2rem;
                        }
                        .info__report {
                            font-size: 16px;
                            color: red;
                            cursor: pointer;
                        }
                    }
                }
            }

            &__info {
                width: 340px;
                height: calc(100vh - 60px);
                background-color: white;
                box-shadow: -2px 0px 4px 0px rgba(0, 0, 0, 0.25);
                padding: 20px;

                h4 {
                    padding-bottom: 6px;
                }

                p {
                    padding: 2px;
                }

                input {
                    font-size: 1.4rem;
                    border: 1px solid #ccc;
                    padding: 6px;
                    width: 100%;
                    margin-bottom: 10px;
                }

                div {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 1rem;

                    button {
                        position: relative;
                        display: flex;
                        align-items: center;
                        border: 1px solid #ccc;
                        padding: 0.4rem 0.8rem;
                        border-radius: 0.6rem;

                        .geo__img {
                            position: absolute;
                            top: calc(-2rem);
                            left: calc(-2rem);
                            width: 4rem;
                            height: 4rem;
                        }

                        img {
                            width: 4rem;
                            height: 4rem;
                        }
                        p {
                        }
                    }
                    button:first-child {
                        margin-left: 0.4rem;
                        margin-right: 1rem;
                    }
                    button:last-child {
                        margin-left: 1rem;
                        margin-right: -0.4rem;
                    }
                }
            }
        }
    }

    &-head {
        position: absolute;
        top: 10px;
        left: 25px;
        z-index: 10;
        width: 350px;
    }

    &-filter {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 10;
        cursor: pointer;

        .ic {
            color: #fff;
            font-size: 4rem;
        }
    }

    &-note {
        position: absolute;
        bottom: 20px;
        right: 10px;
        z-index: 10;
        cursor: pointer;

        .ic {
            color: #fff;
            font-size: 4rem;
        }
    }

    &-block {
        position: absolute;
        // height: 8rem;
        // width: 40rem;
        z-index: 2;
        background-color: white;
        box-shadow: 0 0.1rem 0.1rem 0 #969696;
    }

    &-inf {
        position: absolute;
        top: 0;
        left: 0;
        width: 40rem;
        height: 100vh;
        z-index: 1;
        background-color: #ffffff;

        .icon {
            position: absolute;
            top: 0;
            right: 2px;
            cursor: pointer;
            font-size: 20px;
            z-index: 100;
        }

        &-content {
            padding: 0 3rem;
            height: 100%;
            width: 100%;
            overflow: auto;
            box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.1);

            &-items {
                margin-top: 8rem;
                /* ===== Scrollbar CSS ===== */
                /* Firefox */
                * {
                    scrollbar-width: auto;
                    scrollbar-color: #969696 #ffffff;
                }

                /* Chrome, Edge, and Safari */
                *::-webkit-scrollbar {
                    width: 3px;
                }

                *::-webkit-scrollbar-track {
                    background: #ffffff;
                }

                *::-webkit-scrollbar-thumb {
                    background-color: #969696;
                    border-radius: 10px;
                    border: 0px none #ffffff;
                }
            }

            &-table {
                &-show-img {
                    // padding-bottom: 9rem;
                    margin-top: 34rem;
                }

                &-hidden-img {
                    padding-bottom: 9rem;
                    margin-top: 10rem;
                }
            }
        }

        &-imgAds {
            position: absolute;
            // width: 40rem;
            background-color: white;
            padding-bottom: 2vh;
            box-shadow: 0 0.1rem 0.1rem 0 #969696;
            width: 100%;

            img {
                width: 100%;
                height: 283px;
                object-fit: cover;
            }
        }

        .list {
            list-style-type: none;
            border: 1px solid #000;
            border-radius: 6px;
            padding: 2rem;
            li {
                display: flex;
                padding: 0.2rem 0;
                font-size: small;
                margin-bottom: 4px;

                label {
                    min-width: 7rem;
                    align-self: center;
                    color: #383838;
                    font-weight: 500;
                    font-size: 13px;
                }

                p {
                    font-size: 14px;
                    margin-left: 0.3rem;
                    color: #202020;
                }
            }
            li:last-child {
                display: block;

                div {
                    margin-top: 10px;

                    img {
                        width: 100%;
                        height: 200px;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}
