{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~": ["./"],
          "~src": ["./src"],
          "~assets": ["./src/assets"],
          "~components": ["./src/components"],
          "~utils": ["./src/utils"],
          "~pages": ["./src/pages"],
          "~routes": ["./src/routes"],
          "~styles": ["./src/styles"],
          "~hook": ["./src/hook"],
          "~store": ["./src/store"]
        }
      }
    ]
  ]
}
